/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    background-image: linear-gradient(to bottom right, #3489dd, #d2dae7);
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container-fluid {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 35px;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

.header h1 {
    color: #343a40;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 10px;
}

.input-group-prepend {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group-prepend .input-group-text {
    font-size: 25px;
    border-radius: 8%;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search-box i {
    font-size: 24px;
    color: #343a40;
    margin-right: 10px;
}

.form-control {
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}

.input-group button {
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 18px;
    cursor: pointer;
}

.not-found {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.not-found img {
    width: 70%;
    max-width: 200px;
}

.not-found p {
    color: #343a40;
    font-size: 20px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-box h2 {
    font-size: 18px;
    margin-top: 5px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    body {
        font-size: 60%;
    }

    .header h1 {
        font-size: 24px;
    }

    .form-control {
        font-size: 14px;
    }

    .input-group button {
        font-size: 18px;
    }

    .not-found p {
        font-size: 10px;
    }

    .weather-box h3,
    .weather-box h4 {
        font-size: 18px;
    }

    .weather-box h2 {
        font-size: 18px;
        margin-top: 5px;
    }

    .forecast-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 10px;
    }

    .description-forecast {
        font-size: 14px;
        margin-top: 5px;
    }
}
